/*Variables*/
$text-color: #1F386B;
$accent-color: #F52D00;
$button-hover: #D4E5F7; 
$font-body: "Nunito Sans", sans-serif;
$font-heading: "Hanken Grotesk", sans-serif;
$font-body-size: 16px;
$breakpoint-mobile: 768px;