/*Variables*/

$text-color: #1F386B;
$text-hover:#081021; 
$accent-color: #F52D00;
$font-body: "Nunito Sans", sans-serif;
$font-heading: "Cal Sans", sans-serif;
$font-body-size: 16px;
$breakpoint-mobile: 768px;



body{
    background: linear-gradient(45deg, #D4E5F7, #ADCDF4, #78B3ED);
    margin: 0;
    font-family: $font-body;
    font-size: $font-body-size;
}

/*Nav*/

nav{
    padding: 1.2em 1em;

    img{
    height: 30px;
    width: auto;
    transition: 0.2 ease;
}
img:hover{
    transform: scale(1.05);
}
}


/*Hero sektion*/

.hero{
    padding: 2em 5em;
    margin-top: 12em;
    margin-bottom: 4em;
}

/*The recommended styles from WebAim for visually hiding content that will be read by a screen reader*/
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.visual-heading{
    display: flex;
    flex-direction: column;
    align-items: start;

    img{
        height: auto;
        width: 250px;
    }
  

    .changing-word{
    position: relative;
    display: block;
    height: 1.2em;
    width: 132px;
    text-align: right;
    font-family: $font-body;
    font-size: 32px;
    font-style: italic;
    color: $text-color;
    margin-left: 2.5em;

    span {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    animation: changeWord 9s ease-out infinite;
  }

    span:nth-child(1) {
    animation-delay: 0s;
  }

    span:nth-child(2) {
    animation-delay: 3s;
  }

    span:nth-child(3) {
    animation-delay: 6s;
  }  
}
}

@keyframes changeWord {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  7% {
    opacity: 1;
    transform: translateY(0px);
  }

  26% {
    opacity: 1;
    transform: translateY(0px);
  }

  30% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
    transform: translateY(-25px);
  }
}

.hero-content{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "tekst pil";
    margin-top: 2em;
    
    p{
        grid-area: tekst;
        color: $text-color;
        align-self: center;
        line-height: 1.6;
        font-size: 18px;
    }
        img{
          grid-area: pil;
          align-self: center;
          justify-self: end; 
          height: 220px;
          width: auto;
        }

        .lær-mere{
          display: none;
        }
}

/*Tekst section*/

.info-section{
    padding: 2em 4em;
    color: $text-color;
    max-width: 120ch;

    h2{
      font-family: $font-heading;
      font-weight: 400;
      font-size: 26px;
    }
}


/*Faresignaler*/

.faresignaler-grid{
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(3, 1fr);
    min-height: 450px;
}

.faresignaler {
  border: 1.8px solid $accent-color;
  border-radius: 12px;
  justify-self: center;
  align-self: center;
  padding: 0.5rem 1rem;
  position: relative;
  animation: float 4s ease-in-out infinite;

  h3{
    margin: 0;
    color: $text-color;
    font-size: 16px;
    font-family: $font-body;
  }

  button{
      all: unset;
      cursor: pointer;
    }

/*Så tasteturbrugere stadigvæk kan se knapperne efter der er brugt all: unset;*/
    button:focus-visible {
      outline: 2px solid $accent-color;
      outline-offset: 4px;
    }

  p {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%);
    width: 270px;
    padding: 1rem;
    background-color: #D4E5F7;
    color: $text-color;
    border: 1.5px solid $accent-color;
    border-radius: 8px;
    transition: opacity 0.2s ease;
    z-index: 10;
  }

  &:hover{
    background: #D4E5F7;
  }
   &.is-open {
    background: #D4E5F7;
  }
}

.faresignaler.is-open p {
  opacity: 1;
  visibility: visible;
}


.signal-1{
    grid-area: 2 / 1 / 3 / 2;
}

.signal-2{
    grid-area: 1 / 3 / 2 / 4;
    animation-delay: 0.5s;
}

.signal-3{
    grid-area: 3 / 2 / 4 / 3;
    animation-delay: 1s;
}

.signal-4{
    grid-area: 4 / 3 / 5 / 4;
    animation-delay: 1.5s;
}

.signal-5{
    grid-area: 5 / 1 / 6 / 2;
    animation-delay: 2s;
}

.signal-6{
    grid-area: 6 / 2 / 7 / 3;
    animation-delay: 2.5s;
}

/*Faresignaler animation*/

@keyframes float {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
 
  }
}

.faresignaler:hover {
  animation-play-state: paused;
}

/*Scenario*/

.scenario-card{
  width: min(90vw, 1100px);
  min-height: clamp(240px, 30vw, 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  margin: 0 auto;

  h2{
    font-size: 20px;
    font-family: $font-heading;
    font-weight: 400;
    color: $text-color;
  }

  button{
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid $accent-color;
    padding: 0.7em 3em;
    font-family: $font-body;
    font-size: 16px;
    font-weight: 700;
    color: $text-color;
    margin-top: 1em;
    cursor: pointer;
  }

  button:hover{
    background: #062343;
  }
}


/*Footer*/

footer{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 2.5em;
    border-top: 1px solid $text-color;
        
    p{
        color: $text-color;
    }

    p:hover{
        color: $text-hover;
    }
}


/*Mobil version*/

@media (max-width: $breakpoint-mobile) {

  .hero{
    padding: 1em 2em;
    margin-top: 5em;
  }

  .visual-heading{

    img{
      width: 200px;
      height: auto;
    }

    .changing-word{
      width: 112px;
      font-size: 24px;
    }
  }

  .hero-content{
    display: flex;
    flex-direction: column;

    p{
      font-size: 16px;
      line-height: 1.4;
      margin: 3em 0.2em;
    }

    img{
      display: none;
    }

    .lær-mere {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 6em;
    margin-left: 1em;
    align-self: flex-end;

    span {
      color: $text-color;
      font-family: $font-body;
      font-size: 1.2rem;
      font-weight: 600;
      font-style: italic;
    }

    img {
      width: 24px;
      height: auto;
      display: block;
    }
  }
  }

/*Tekst section*/

.info-section{
  padding: 1em 1.4em;
  max-width: 60ch;

    h2{
      font-family: $font-heading;
      font-weight: 400;
      font-size: 20px;
    }
}

/*Faresignaler*/

.faresignaler-grid {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 1em 1em;
  }

.faresignaler {
    width: min(300px, 100%);
    box-sizing: border-box;
    text-align: center;
  }

.signal-1 {
  align-self: center;
}

.signal-2 {
  align-self: center;
}

.signal-3 {
  align-self: center;
}

.signal-4 {
  align-self: center;
}

.signal-5 {
  align-self: center;
}

.signal-6 {
  align-self: center;
}

/*Footer*/

footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5em 1em;
}

}




