/*Variables*/
body {
  background: linear-gradient(45deg, #D4E5F7, #ADCDF4, #78B3ED);
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
}

/*Nav*/
nav {
  padding: 1.2em 1em;
}
nav img {
  height: 30px;
  width: auto;
  transition: 0.2 ease;
}
nav img:hover {
  transform: scale(1.05);
}

/*Hero sektion*/
.hero {
  padding: 2em 5em;
  margin-top: 12em;
  margin-bottom: 4em;
}

/*The recommended styles from WebAim for visually hiding content that will be read by a screen reader*/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.visual-h1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.visual-h1 img {
  height: auto;
  width: 250px;
}
.visual-h1 .changing-word {
  position: relative;
  display: block;
  height: 1.2em;
  width: 132px;
  text-align: right;
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  font-style: italic;
  color: #1F386B;
  margin-left: 2.5em;
}
.visual-h1 .changing-word span {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  animation: changeWord 9s ease-out infinite;
}
.visual-h1 .changing-word span:nth-child(1) {
  animation-delay: 0s;
}
.visual-h1 .changing-word span:nth-child(2) {
  animation-delay: 3s;
}
.visual-h1 .changing-word span:nth-child(3) {
  animation-delay: 6s;
}

@keyframes changeWord {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  7% {
    opacity: 1;
    transform: translateY(0px);
  }
  26% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 0;
    transform: translateY(-25px);
  }
}
.hero-content {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "tekst pil";
  margin-top: 2em;
}
.hero-content p {
  grid-area: tekst;
  color: #1F386B;
  align-self: center;
  line-height: 1.6;
  font-size: 18px;
}
.hero-content img {
  grid-area: pil;
  align-self: center;
  justify-self: end;
  height: 220px;
  width: auto;
}

/*Tekst section*/
.info-section {
  padding: 2em 4em;
  color: #1F386B;
  max-width: 120ch;
}
.info-section h2 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
}

/*Faresignaler*/
.faresignaler-grid {
  display: grid;
  grid-template: repeat(6, 1fr)/repeat(3, 1fr);
  min-height: 450px;
}

.faresignaler {
  border: 1.8px solid #F52D00;
  border-radius: 12px;
  justify-self: center;
  align-self: center;
  padding: 0.5rem 1rem;
  position: relative;
  animation: float 4s ease-in-out infinite;
}
.faresignaler h3 {
  margin: 0;
  color: #1F386B;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}
.faresignaler:hover {
  background: #D4E5F7;
}
.faresignaler p {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%);
  width: 260px;
  padding: 1rem;
  background-color: #D4E5F7;
  color: #1F386B;
  border: 1.5px solid #F52D00;
  border-radius: 8px;
  transition: opacity 0.2s ease;
  z-index: 10;
}
.faresignaler:hover p {
  opacity: 1;
  visibility: visible;
}

.signal-1 {
  grid-area: 2/1/3/2;
}

.signal-2 {
  grid-area: 1/3/2/4;
  animation-delay: 0.5s;
}

.signal-3 {
  grid-area: 3/2/4/3;
  animation-delay: 1s;
}

.signal-4 {
  grid-area: 4/3/5/4;
  animation-delay: 1.5s;
}

.signal-5 {
  grid-area: 5/1/6/2;
  animation-delay: 2s;
}

.signal-6 {
  grid-area: 6/2/7/3;
  animation-delay: 2.5s;
}

/*Faresignaler animation*/
@keyframes float {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
.faresignaler:hover {
  animation-play-state: paused;
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2.5em;
  border-top: 1px solid #1F386B;
}
footer p {
  color: #1F386B;
}
footer p:hover {
  color: #081021;
}/*# sourceMappingURL=style.css.map */